<div class="artwork artwork--detail">
  <div class="artwork-title">
    {{model.title}}
  </div>
  <div class="artwork-author">
    {{model.author}}
  </div>
  <div class="artwork-description">
    <img src='{{model.image}}' />
  </div>

  <div class="artwork-description">
    {{model.moonRelativeDate}}
  </div>
  <div class="artwork-description">
    {{model.moonDate}}
  </div>
  <div class="artwork-description">
    {{model.mainImageUrl}}
  </div>
  <div class="artwork-description">
    {{model.mainImageInstagramUrl}}
  </div>
  <div class="artwork-description">
    {{model.mainImageColor}}
  </div>
  <div class="artwork-description">
    {{model.maskPositiveSpaceUrl}}
  </div>
  <div class="artwork-description">
    {{model.maskPositiveSpaceInstagramUrl}}
  </div>
  <div class="artwork-description">
    {{model.maskPositiveSpaceColor}}
  </div>
  <div class="artwork-description">
    {{model.maskNegativeSpaceUrl}}
  </div>
  <div class="artwork-description">
    {{model.maskNegativeSpaceInstagramUrl}}
  </div>
  <div class="artwork-description">
    {{model.maskNegativeSpaceColor}}
  </div>
  <div class="artwork-description">
    {{model.negativeSpaceTransparency}}
  </div>
  <div class="artwork-description">
    {{model.positiveSpaceTransparency}}
  </div>
  <div class="artwork-description">
    {{model.dimensionality}}
  </div>
</div>
