<form class="artwork artwork--detail">
  <div class="header">
    Create new
  </div>
  <div class="artwork-title">
    {{input
    value=form.title
    name="title"
    placeholder="Title"
    autocomplete="off"}}
  </div>
  <div class="artwork-description">
    {{input
    value=form.moonRelativeDate
    name="moon relative date"
    placeholder="moon relative date"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
     {{input
    value=form.moonDate
    name="moon date"
    placeholder="moon date"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.mainImageUrl
    name="main image url"
    placeholder="main image url"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.mainImageInstagramUrl
    name="main image insta url"
    placeholder="main image insta url"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.mainImageColor
    name="main image color"
    placeholder="main image color"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.maskPositiveSpaceUrl
    name="mask positive space url"
    placeholder="mask positive space url"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.maskPositiveSpaceInstagramUrl
    name="mask positive space insta url"
    placeholder="mask positive space insta url"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.maskPositiveSpaceColor
    name="mask positive space color"
    placeholder="mask positive space color"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.maskNegativeSpaceUrl
    name="mask negative space url"
    placeholder="mask negative space url"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.maskNegativeSpaceInstagramUrl
    name="mask negative space insta url"
    placeholder="mask negative space insta url"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.maskNegativeSpaceColor
    name="mask negative space color"
    placeholder="mask negative space color"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.negativeSpaceTransparency
    name="negative space transparency"
    placeholder="negative space transparency"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.positiveSpaceTransparency
    name="positive space transparency"
    placeholder="positive space transparency"
    autocomplete="off"
    }}
  </div>
  <div class="artwork-description">
    {{input
    value=form.dimensionality
    name="dimensionality"
    placeholder="dimensionality"
    autocomplete="off"
    }}
  </div>
</form>

<div class="actions">
  <div>
    <button {{action 'create'}}>
      Create
    </button>
    <button {{action 'cancel'}}>
      Cancel
    </button>
  </div>
</div>
